<nav>
    <div class="navbar">
        <a href="/">
            <img src="/images/logo.png" alt="logo">
        </a>
        <ul>
            <li>
                <a href="/">
                    <img src="/icons/home.svg" alt="Inicio Icon">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/about">
                    <img src="/icons/info.svg" alt="Acerca de Icon">
                    Acerda de
                </a>
            </li>
            <li>
                <a href="/contact">
                    <img src="/icons/contact.svg" alt="Contacto Icon">
                    Contacto
                </a>
            </li>
            <li>
                <a href="/api/heroes">
                    <img src="/icons/superhero.png" alt="Superhéroe">
                    Superhéroes
                </a>
            </li>
        </ul>
    </div>
</nav>